* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  width: 680px;
   height: 100px;
  border: 5px solid rgb(255, 0, 0);
}
body {
  background-color: rgb(255, 255, 255);
}
div {
  background-color: chocolate;
} 

.article {
   color: rgb(43, 76, 81);
   /* margin: 10px; */
   /* margin: 10px 20px; */
   /* margin: 10px 20px 15px; */
   font-size: 20px;
  }

  #block-id {
    background-color: rgb(190, 100, 220);
  }

  a {
    font-size: medium;
    text-decoration: none;
    color: rgb(235, 53, 53);
    text-transform: uppercase;
  }

  .avatar {
    height: 100px;
  }
